* {
    font-family: 'Roboto', sans-serif;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header {
    margin: unset;
    height: 55px;
    padding-bottom: 20px;
}

header img {
    padding-left: 7%;
    padding-top: 30px;
    align-self: center;
}

#topNav {
    padding-top: 35px;
    padding-left: 15%;
    text-wrap: nowrap;
    gap: 10%;
    list-style-type: none;
    align-self: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

nav ul li a:hover {
    color: #0850F8;
    border: 1px dotted #0850F8;
}

#navButtons {
    justify-content: unset;
    justify-content: flex-end;
    padding-right: 7%;
    gap: 5%;
    text-wrap: nowrap;
    padding-top: 35px;
}

#navButtons button {
    border-radius: 10px;
    align-self: center;
    height: 40px;
    font-size: 16px;
    width: 100px;
}

.btnWhite {
    border: 2px solid #0850F8;
    color: #0850F8;
    background-color: white;
    font-weight: bold;
}

.btnWhite:hover {
    color: white;
    background-color: #0850F8;
}

.btnBlue {
    border: 2px solid #0850F8;
    color: white;
    background-color: #0850F8;
    font-weight: bold;
}

.btnBlue:hover {
    color: #0850F8;
    background-color: white;
}

hero {
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 7%;
    gap: 8%;
    max-height: 650px;
}

#herotext {
    align-self: stretch;
    max-height: 650;
}

div#heroText h1 {
    align-self: stretch;
    font-size: 430%;
    margin-bottom: -15px;
}

div#heroText h2 {
    font-size: 250%;
    margin-bottom: -15px;
}

div#heroText button {
    height: 75px;
    width: 250px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
}


.sub {
    font-size: 150%;
    color: gray;
}

#heroText {
    max-width: 40%;

}

#sideHeadImg {
    max-width: 600px
}

ul.chunk {
    padding-top: 15px;
    text-align: center;
}

#topChunk {
    text-align: unset;
    margin-left: -7%;
}

.chunk>* {
    display: inline;
    padding: 10px;
    font-size: small;
}

li.dot {
    font-size: larger;
    font-weight: bolder;
    vertical-align: text-top;
}

.grid {
    display: inline-grid;
}

hr {
    width: 60%;
    margin-bottom: 80px;
    margin-top: 30px;
}

main {
    margin: 50px 8%;
}

#sideBySide {
    border: 1px black solid;
    border-radius: 30px;
    height: 700px;
    justify-self: center;
    margin: 70px;
}

#sBsImg {
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
    padding: 0px 15px;
}

#sBsTxtBx {
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: #0850F8;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sBsTxt {
    color: white;
    vertical-align: baseline;
    padding-left: 30px;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

main ul li {
    padding: 10px 0px;
}

#sBsTxt>* {
    padding: 15px 0px;
}

#learnBtn {
    font-weight: unset;
    border-color: white;
    border-radius: 10px;
    align-self: center;
    width: 50%;
    font-size: 100%;
    padding: -10px 0px
}

div.tab img {
    height: 50px;
    width: 50px;
    padding-top: 25px;
}

.tab {
    border: rgb(0, 0, 0) solid 1px;
    width: 115px;
    height: 130px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

#belowLineTxt {
    text-align: center;
    margin: auto 15%;
    margin-bottom: 60px;
}

#belowLineTxt>h2 {
    margin-bottom: 20px;
}

#belowLineTxt>p {
    margin: 0px 15%;
    margin-bottom: 40px;
}

.tab:hover {
    background-color: #0850F8;
    color: white;
}

#solutions {
    text-align: center;
    margin: 65px 10%;
    margin-top: 65px;
}

#solutions>* {
    padding: 30px;
}

#solGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    column-gap: 15%;
    row-gap: 50px;
}

.solGridItem {
    height: 400px;
    width: 90%;
}

#emDash {
    grid-column: 1;
    grid-row: 1;
}

#taskMan {
    grid-column: 2;
    grid-row: 1;
}

#analytics {
    grid-column: 1;
    grid-row: 2;
}

#projCal {
    grid-column: 2;
    grid-row: 2;
}

.solImg {
    height: 200px;
    width: 200px;
}

.solBtn {
    width: 40%;
    height: 40px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 3px solid rgb(97, 97, 97);
}

.solBtn:hover {
    background-color: #0850F8;
    color: white;
    border: white solid 1px;
}

footer {
    background-color: #0850F8;
    color: white;
    margin: -8px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer h2 {
    font-size: xxx-large;
}

footer h3 {
    margin-top: -20px;
    margin-bottom: 10px;
}

.footerBtns * {
    height: 45px;
    width: 210px;
    border-radius: 5px;
    font-size: larger;
    border: 0px;
    font-weight: bolder;
}

#btnGreen {
    grid-column: 1;
    margin-right: 2%;
    background-color: rgb(40, 197, 40);
    color: white;

}

#btnWhite {
    grid-column: 2;
    margin-left: 2%;
    background-color: white;
    color: #0850F8;
}

#btnWhite:hover {
    color: white;
    background-color: #0850F8;
    border: white 1px solid;
}

#btnGreen:hover {
    color: rgb(40, 197, 40);
    background-color: white;
}